/********** Base styles **********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

h1 {
  font-size: 1.75em;
  text-align: center;
}

p {
  border: 2px solid black;
}

.container {
  padding: 10px;
}

.headers {
  width: 20%;
  overflow: hidden;
  float: right;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

.header-chicken {
  background-color: #D59898;
}

.header-beef {
  background-color: #C14543;
}

.header-sushi {
  background-color: #E5D198;
}

.text {
  background-color: #999999;
  border-width: 2px;
  padding: 30px 15px 15px 15px;
}

/********** Desktop devices view **********/
@media (min-width: 992px) {
  .container {
    width: 33%;
    float: left;
  }
}

/********** Tablet devices view **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container-chicken, .container-beef {
    width: 50%;
    float: left;
  }

  .container-sushi {
    width: 100%;
    float: left;
  }
}

/********** Mobile devices view **********/
@media (max-width: 767px) {
  .container {
     width: 100%;
     float: left;
  }
  /*.headers {
    float: right;*/
  }
}